# Core functionality - changes here should be rare!
/src/app.py                   @derbyps
/src/backend/database.py      @derbyps
/src/backend/routers/auth.py  @derbyps

# The frontend will need refactored soon to be more object oriented.
/src/static/   @derbyps
